<h1>Approvals#index</h1>
<p>Find me in app/views/approvals/index.html.erb</p>

<% @monuments.each do |monument| %>
<p><%= monument.name %></p>
<% end %>

<% @events.each do |event| %>
<p><%= event.name %></p>
<% end %>

<% @personalities.each do |personalitie| %>
<p><%= personalitie.fullname %></p>
<% end %>
