
<div class="container">

  <% @monuments.each do |data| %>
    <%= render "shared/card_approval", data: data %>
  <% end %>

  <% @events.each do |data| %>
    <%= render "shared/card_approval", data: data %>
  <% end %>

  <% @personalities.each do |data| %>
    <%= render "shared/card_approval", data: data %>
  <% end %>
</div>
