
.shape {
  .home-container {
    width: 100%;
    height: 100%;
    text-align:center;
    background-image: url("https://wallpaperaccess.com/full/333707.jpg");
    background-position: center;
    background-size: cover;
  }
}
