.home-container {
  width: 100%;
  height: 100%;
  text-align:center;
  background-image: url("https://e0.pxfuel.com/wallpapers/365/934/desktop-wallpaper-maps-world-map-old-globe-with-countries-1920%C3%971080-background-world-map-with-countries.jpg");
  background-position: center;
  background-size: cover;
}
