<div class="container mt-5 mb-5">
  <div class="accordion" id="accordionExample">
    <%# render "shared/accordion_marker", markers: @markers %>
    <%= render "shared/accordion_monument" %>
    <%= render "shared/accordion_event" %>
    <%= render "shared/accordion_personality" %>
  </div>
</div>
