<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Vos monuments créés
    </button>
  </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
          <% @monuments.each do |monument| %>
            <li><%= link_to monument.name, period_path(monument.period_id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
</div>
