<div class="dropdown">
  <button id="button_add" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-offset="10,20" aria-expanded="false">
    <i class="fa-solid fa-plus"></i>
  </button>
  <ul class="dropdown-menu active">
    <li><a class="dropdown-item" href="#">Ajouter un monument</a></li>
    <li><a class="dropdown-item" href="#">Ajouter un évènement</a></li>
    <li><a class="dropdown-item" href="#">Ajouter un personnage</a></li>
  </ul>
</div>
