<div class="dropup">
  <button id="button_add" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-offset="10,20" aria-expanded="false">
    <i class="fa-solid fa-plus"></i>
  </button>
  <ul class="dropdown-menu active period-add-list">
    <li><button class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Ajouter un évènement<i class="fa-solid fa-circle-info"></i></button></li>
    <li><button class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasMonument" role="button" aria-controls="offcanvasExample">Ajouter un monument<i class="fa-solid fa-landmark"></i></button></li>
    <li><button class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasPerso" role="button" aria-controls="offcanvasExample">Ajouter un personnage<i class="fa-solid fa-circle-user"></i></button></li>
  </ul>
</div>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Ajouter un évènement</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
       <%= render "shared/form_events" %>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMonument" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Ajouter un monument</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
       <%= render "shared/form_monuments" %>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasPerso" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Ajouter un personnage</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
       <%= render "shared/form_personalities" %>
    </div>
  </div>
</div>
