<div class="dropup">
  <button id="button_filter" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-offset="10,20" aria-expanded="false">
    <i class="fa-solid fa-filter" style="color: #ffffff;"></i>
  </button>
  <ul class="dropdown-menu active period-add-list">
    <li id="filter-event"><input data-map-target="checkboxevent" data-action="change->map#filterevent" type="checkbox" data-toggle="toggle" checked><i class="fa-solid fa-circle-info fa-lg"></i></li>
    <li id="filter-monument"><input data-map-target="checkboxmonument" data-action="change->map#filtermonument" type="checkbox" data-toggle="toggle" checked><i class="fa-solid fa-landmark"></i></li>
  </ul>
</div>
