
<div class="footer">

  <svg version="1.1" width="150px" height="200px" xml:lang="fr" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path class="hourglass" d="M 5,5 L 145,5 L 145,20 L 80,100 L 145,180 L 145,195 L 5,195 L 5,180 L 70,100 L 5,20 Z" style="fill:none; stroke:#2ecc71"/>
  </svg>

  <div class="footer-links" >
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Kevin, Alexis & Yoann
  </div>
</div>
