<%= form_with url: redirection_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Année ?",
        value: rand(1789..2023),
        id: "year-search-home"
    %>
  <button name="button" type="submit" class="btn-hiden" id="home-button">
        <i class="fas fa-search"></i></button>
<% end %>
