<%= form_with url: redirection_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "_ _ _ _",
        id: "year-search"
      %>
  <button name="button" type="submit" class="btn-hiden">
        <i class="fas fa-search"></i></button>
<% end %>
</i>
