<button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Rechercher une année
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render "shared/searchbar" %>
    </div>
  </div>
</div>
