<div class="main-timeline">
            <div class="timeline">
              <div class="timeline-content">
                <div class="circle"><span class="homebox">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Prise_de_la_Bastille.jpg/495px-Prise_de_la_Bastille.jpg" class="img">
                  </span>
                </div>
                <div class="content">
                    <span class="year">La Révolution Française</span>
                    <h3 class="title h4">1789-1796</h3>
                    <div class="icon"><span></span></div>
                </div>
              </div>
            </div>
            <div class="timeline">
                <div class="timeline-content">
                    <div class="circle"><span class="homebox"><img src="https://gallica.bnf.fr/blog/sites/default/files/napoleon_a_sainte_helene_-_.walther_graveur_btv1b8414089b_vignetet.jpg" class="img" /></span></div>
                    <div class="content">
                      <span class="year">Le Premier Empire</span>
                      <h3 class="title h4">1797-1815</h3>
                      <div class="icon"><span></span></div>
                    </div>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-content">
                    <div class="circle"><span class="homebox"><img src="https://img-4.linternaute.com/0WO-tpPKPzn0fKV-O3awEZVXmPQ=/1500x/smart/fed7c81ad9aa423b861efaf3b4dc3d7f/ccmcms-linternaute/26426833.jpg" class="img"></span></div>
                    <div class="content">
                      <span class="year">Restauration - II République</span>
                      <h3 class="title h4">1816-1852</h3>
                      <div class="icon"><span></span></div>
                    </div>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-content">
                  <div class="circle"><span class="homebox"><img src="https://img-4.linternaute.com/l73FtIxkJCy_opQlrOg8keCiOvY=/1500x/smart/5ccbcea86fb946af97d42232e88e6fa9/ccmcms-linternaute/22319912.jpg" class="img"></span></div>
                  <div class="content">
                    <span class="year">Second Empire</span>
                    <h3 class="title h4">1853-1869</h3>
                    <div class="icon"><span></span></div>
                  </div>
                </div>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <div class="circle"><span class="homebox"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Siege_of_Paris.jpg/1200px-Siege_of_Paris.jpg" class="img"></span></div>
                  <div class="content">
                    <span class="year">La Guerre Franco-Prussienne</span>
                    <h3 class="title 4">1870-1871</h3>
                    <div class="icon"><span></span></div>
                  </div>
              </div>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <div class="circle"><span class="homebox"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Le_bar_de_Maxim%27s_par_Pierre-Victor_Galland_%28A%29.jpg/360px-Le_bar_de_Maxim%27s_par_Pierre-Victor_Galland_%28A%29.jpg" class="img"></span></div>
                  <div class="content">
                    <span class="year">La Belle Epoque</span>
                    <h3 class="title 4">1872-1913</h3>
                    <div class="icon"><span></span></div>
                  </div>
              </div>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <div class="circle"><span class="homebox"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/WWImontage.jpg/390px-WWImontage.jpg" class="img"></span></div>
                  <div class="content">
                    <span class="year">Ière Guerre Mondiale - L'entrée en guerre</span>
                    <h3 class="title 4">1914</h3>
                    <div class="icon"><span></span></div>
                  </div>
              </div>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <div class="circle"><span class="homebox"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/WWImontage.jpg/390px-WWImontage.jpg" class="img"></span></div>
                  <div class="content">
                    <span class="year">Ière Guerre Mondiale - La guerre de tranchée</span>
                    <h3 class="title 4">1915-1917</h3>
                    <div class="icon"><span></span></div>
                  </div>
              </div>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <div class="circle"><span class="homebox"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/WWImontage.jpg/390px-WWImontage.jpg" class="img"></span></div>
                  <div class="content">
                    <span class="year">Ière Guerre Mondiale - La victoire</span>
                    <h3 class="title 4">1918</h3>
                    <div class="icon"><span></span></div>
                  </div>
              </div>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <div class="circle"><span class="homebox"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Big_four.jpg/330px-Big_four.jpg" class="img"></span></div>
                  <div class="content">
                    <span class="year">L'entre deux guerres</span>
                    <h3 class="title 4">1919-1938</h3>
                    <div class="icon"><span></span></div>
                  </div>
              </div>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <div class="circle"><span class="homebox"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/446th-b24s2.jpg/330px-446th-b24s2.jpg" class="img"></span></div>
                  <div class="content">
                    <span class="year">IInd Guerre Mondiale</span>
                    <h3 class="title 4">1939-1940</h3>
                    <div class="icon"><span></span></div>
                  </div>
              </div>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <div class="circle"><span class="homebox"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Bundesarchiv_Bild_101I-751-0067-34%2C_Paris%2C_Parade_deutscher_Soldaten.jpg/255px-Bundesarchiv_Bild_101I-751-0067-34%2C_Paris%2C_Parade_deutscher_Soldaten.jpg" class="img"></span></div>
                  <div class="content">
                    <span class="year">La France sous l'occupation</span>
                    <h3 class="title 4">1941-1944</h3>
                    <div class="icon"><span></span></div>
                  </div>
              </div>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <div class="circle"><span class="homebox"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Crowds_of_French_patriots_line_the_Champs_Elysees-edit2.jpg/390px-Crowds_of_French_patriots_line_the_Champs_Elysees-edit2.jpg" class="img"></span></div>
                  <div class="content">
                    <span class="year">La Libération</span>
                    <h3 class="title 4">1944-1945</h3>
                    <div class="icon"><span></span></div>
                  </div>
              </div>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <div class="circle"><span class="homebox"><img src="https://oaci.delegfrance.org/IMG/arton17.jpg?1507667315" class="img"></span></div>
                  <div class="content">
                    <span class="year">La France d'Aujourd'hui</span>
                    <h3 class="title 4">1945-Aujourd'hui</h3>
                    <div class="icon"><span></span></div>
                  </div>
              </div>
            </div>
          </div>
