<div class="main-timeline">


  <% Period.all.order(:start_date).each do |period| %>
    <div class="timeline">
      <div class="timeline-content">
        <div class="circle"><span class="homebox">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Prise_de_la_Bastille.jpg/495px-Prise_de_la_Bastille.jpg" class="img">
          </span>
        </div>
        <div class="content">
            <%= link_to period.name, period_path(period), class:"year" %>
            <h3 class="title h4"><%=period.start_date.strftime('%Y')%>-<%=period.end_date.strftime('%Y')%></h3>
        </div>
      </div>
    </div>
  <% end %>

  <%# Le Premier Empire "https://gallica.bnf.fr/blog/sites/default/files/napoleon_a_sainte_helene_-_.walther_graveur_btv1b8414089b_vignetet.jpg" %>
  <%# Restauration - II République "https://img-4.linternaute.com/0WO-tpPKPzn0fKV-O3awEZVXmPQ=/1500x/smart/fed7c81ad9aa423b861efaf3b4dc3d7f/ccmcms-linternaute/26426833.jpg" class="img"></span></div> %>
  <%# Second Empire "https://img-4.linternaute.com/l73FtIxkJCy_opQlrOg8keCiOvY=/1500x/smart/5ccbcea86fb946af97d42232e88e6fa9/ccmcms-linternaute/22319912.jpg" class="img"></span></div> %>
  <%# La Guerre Franco-Prussienne "https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Siege_of_Paris.jpg/1200px-Siege_of_Paris.jpg" class="img"></span></div> %>
  <%# La Belle Epoque "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Le_bar_de_Maxim%27s_par_Pierre-Victor_Galland_%28A%29.jpg/360px-Le_bar_de_Maxim%27s_par_Pierre-Victor_Galland_%28A%29.jpg" class="img"></span></div> %>
  <%# Ière Guerre Mondiale - L'entrée en guerre "https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/WWImontage.jpg/390px-WWImontage.jpg" class="img"></span></div> %>
  <%# Ière Guerre Mondiale - La guerre de tranchée "https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/WWImontage.jpg/390px-WWImontage.jpg" class="img"></span></div> %>
  <%# Ière Guerre Mondiale - La victoire "https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/WWImontage.jpg/390px-WWImontage.jpg" class="img"></span></div> %>
  <%# L'entre deux guerres "https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Big_four.jpg/330px-Big_four.jpg" class="img"></span></div> %>
  <%# IInd Guerre Mondiale "https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/446th-b24s2.jpg/330px-446th-b24s2.jpg" class="img"></span></div> %>
  <%# La France sous l'occupation "https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Bundesarchiv_Bild_101I-751-0067-34%2C_Paris%2C_Parade_deutscher_Soldaten.jpg/255px-Bundesarchiv_Bild_101I-751-0067-34%2C_Paris%2C_Parade_deutscher_Soldaten.jpg" class="img"></span></div> %>
  <%# La Libération "https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Crowds_of_French_patriots_line_the_Champs_Elysees-edit2.jpg/390px-Crowds_of_French_patriots_line_the_Champs_Elysees-edit2.jpg" class="img"></span></div> %>
  <%# La France d'Aujourd'hui "https://oaci.delegfrance.org/IMG/arton17.jpg?1507667315" class="img"></span></div> %>

</div>
