<div class="main-timeline" data-controller='scroll'>

  <% Period.all.order(:start_date).each do |period| %>
    <div class="timeline">
      <div class="timeline-content">
          <div class="circle <%= "active" if params[:id].to_i == period.id %>">
            <span class="homebox">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Prise_de_la_Bastille.jpg/495px-Prise_de_la_Bastille.jpg" class="img">
            </span>
          </div>

        <div class="content" data-scroll-target="scroll-target" data-action="scroll#connect">
            <%= link_to period.name, period_path(period, :anchor => "#{period.id}"), class:"year" %>
            <h3 class="title h4"><%=period.start_date.strftime('%Y')%>-<%=period.end_date.strftime('%Y')%></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
