<div class="shape">
<div class="shape stage home">
    <div class="search-home card-form-search-home">
      <p class="mb-1">Savez-vous à quoi <br>
      ressemblait la France en :</p><%= render "shared/searchbar_home" %>
    </div>
</div>
</div>
