#button_add {
  background-color: #27374D;
  border-radius: 50%;
  position: absolute;
  right: 80px;
  bottom: 100px;
  font-size: 24px;
  border: none;
  color: white;
  box-shadow: 1px 1px 10px black;
  opacity: 0.8;
}

.fa-solid {
  padding: 15px;
  color: white;
}

.dropdown-menu {
  background-color: #27374D;
}

a.dropdown-item {
  color:white;
}
