#button_add {
  background-color: #27374D;
  border-radius: 50%;
  position: absolute;
  right: 80px;
  bottom: 100px;
  font-size: 24px;
  border: none;
  color: white;
  box-shadow: 1px 1px 10px black;
  opacity: 0.8;
}

.fa-solid {
  padding: 15px;
  color: white;
}

.dropdown-menu {
  border: 0;
  background-color: #27374D;
  border-radius: 5px;
  background: transparent;
}

a.dropdown-item {
  color:white;
  background-color: #27374D;
  margin-top: 20px;
  border-radius: 5px;
}

.period-add-list li {
  opacity: 0;
}

.period-add-list.show {
  li:first-child {
    animation: 0.2s linear forwards slidein;
  }

  li:nth-child(2) {
    animation: 0.2s linear 0.5s forwards slidein;
  }

  li:last-child {
    animation: 0.2s linear 1s forwards slidein;
  }
}

@keyframes slidein {
  from { opacity: 0; }
  to { opacity: 1; }
}
