#button_filter {
  background-color: #27374D;
  border-radius: 50%;
  position: absolute;
  right: 866px;
  bottom: -546px;
  font-size: 24px;
  border: none;
  color: white;
  box-shadow: 1px 1px 10px black;
  opacity: 0.8;
  height: 50px;
}
