.photo-marker {
  margin: 20px;
  padding-left: 30px;
}

.offcanvas-title {
  font-size: 36px;
  font-family: 'Graduate', cursive;
}


.infos-monument {
  .offcanvas-header {
    padding: 10px;
    padding-left: 50px;
    background-color: #526D82;
    color: white;
    box-shadow: 0px 1px 1px grey;
  }
  .fa-brands {
    color: #27374D;
    font-size: 25px;
  }

  #google-earth {
    font-size: 25px
  }
}


.fa-earth-americas {
  color: #27374D;
}

.offcanvas-body {
  #date_event {
    font-family: 'Mate SC', serif;
  }

  #added_by{
    font-family: 'Mate SC', serif;
  }

  #description{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .font-info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  ul {
    list-style-type: none;
  }

  #date_personality{
    font-family: 'Mate SC', serif;
  }

  padding-left: 50px;
}

.offcanvas.showing, .offcanvas.show:not(.hiding) {
  width: 70vh;
}

.infos-event{
  .offcanvas-header{
  padding: 10px;
  padding-left: 50px;
  background-color: #8B635C;
  color: white;
  box-shadow: 0px 3px 1px grey;
  }

  .fa-brands {
    color: #8B635C;
    font-size: 25px;
  }
 }

 .infos-personality{
  .offcanvas-header{
  padding: 10px;
  padding-left: 50px;
  background-color: #FFC600;
  color: white;
  box-shadow: 0px 3px 1px grey;
  }

  .fa-brands {
    color: #FFC600;
    font-size: 25px;
  }
 }
