.navbar-lewagon {
  justify-content: space-between;
  background: #27374D;
  margin-bottom: 30px;
  font-family: 'Graduate', cursive;
  img {
    border-radius: 50%;
  }
}

.nav-link:hover {
  color: #FFC600;
  transition: 0.7s;
}

.navbar-margin-off {
  justify-content: space-between;
  background: #27374D;
  font-family: 'Graduate', cursive;
  img {
    border-radius: 50%;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-margin-off .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-margin-off .navbar-brand img {
  width: 40px;
}

.nav-link {

  color: white;
}
