.search-form-control {
  position: relative;
}

#year-search {
  border-radius: 20px;
}

#year-search-home {
  border-radius: 20px;
}

.search-home {
  position: absolute;
  top: 74%;
  left: 16%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#year-search-home {
  background-color: #27374D;
  width: 100%;
  color: white;
    &::placeholder {
      color: white;
    }
  }

  #home-button {
    .fa-search {
      color: white;
    }
  }

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-hiden {
  background-color: transparent;
  border: transparent;
  margin-left: -30px;
  z-index: 1;
  margin-right: 20px;
}
